* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Gotham';
  overflow-x: hidden;
}
a {
  display: block;
  text-decoration: none;
  font-family: 'Gotham';
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Gotham';
}
select {
  cursor: pointer;
}
:after {
  cursor: pointer;
}
.container {
  width: 1140px;
  margin: 0 auto;
  font-family: 'Gotham';
}

.header_top__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header_left__contact {
  display: flex;
  align-items: center;
}

.header_left__contact__icon {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
}

.header_left__contact__tel {
  display: flex;
  margin-right: 37px;
}

.header_left__contact__tel p {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  padding-right: 37px;
  transition: 0.2s linear;
}

.header_left__contact__tel p:hover {
  color: #fb5314;
}
.header_left__contact__tel a:hover {
  color: #fb5314;
}

.header_left__contact__tel a {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  transition: 0.2s linear;
}
.label_languages {
  background: #fff;
}

.select_languages {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  width: 35px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label_languages:after {
  content: "▼";
  font-size: 10px;
  position: absolute;
  z-index: 1;
  margin-top: 4px;
  margin-left: -11px;
  text-align: center;
  box-sizing: border-box;
}

.line {
  width: 100%;
  background: #CCCDDE;
  height: 1px;
}

.header_top__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.header_top__two a {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  transition: 0.2s linear;
}

.header_top__two a:hover {
  color: #fb5314;
}

.header_main {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 9%);
    position: relative;
}

.header_content {
  background: url(../img/header-bg.png) no-repeat center top / cover;
  width: 100%;
}

.header_content__title h1 {
  font-weight: normal;
  font-size: 84px;
  color: #272942;
  padding-top: 70px;
}

.header_content__title p {
  font-weight: normal;
  font-size: 24px;
  color: #767A89;
  padding-top: 25px;
}

.header_select {
  width: 100%;
  margin-top: 56px;
  padding-bottom: 130px;
}

.header_select__content {
  background: #fff;
  box-shadow: 0px 8px 30px rgba(21, 33, 64, 0.12);
  border-radius: 5px 30px 30px 5px;
  display: flex;
}
.header_select__item {
  padding: 9px 0px 9px 9px;
}
.header_select__item select {
  font-weight: normal;
  font-size: 16px;
  color: #3E4046;
  border: none;
  background: #fff;
  border-right: 1px solid #C4C4C4;;
  padding: 10px;
  font-family: 'Gotham';
  width: 165px;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header_select__item:after {
    content: "▼";
    font-size: 11px;
    width: 0;
    position: absolute;
    z-index: 1;
    color: #C4C4C4;
    margin-top: 14px;
    margin-left: -28px;
    text-align: center;
    box-sizing: border-box;
}

#one {
  width: 173.66px !important;
}
#two {
  width: 180px !important;
}
#fri {
  width: 220px !important;
}
#for {
  width: 173px !important;
}

.regulator_icon {
  background: #fff;
  border: none;
  margin-left: 30px;
}

.object_btn {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  padding: 18px 0px;
  width: 287px;
  background: linear-gradient(90.84deg, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
  box-shadow: 0px 15px 15px rgba(236, 95, 13, 0.07);
  border-radius: 43px;
  margin-left: 25px;
  border: none;
}
.slider .slick-track {
  display: flex;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 42px;
}

.slider .slick-arrow.slick-next {
    background: url(../img/arrowe_right.svg) no-repeat center / cover;
    right: 15px;
    cursor: pointer;
}

.slider .slick-arrow.slick-prev {
    background: url(../img/arrowe_left.svg) no-repeat center / cover;
    cursor: pointer;
    right: 65px;
}

.slider .slick-arrow {
    position: absolute;
    top: -18%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: 0;
    border: none;
}

.slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

.section_one {
  background: #d7ddec4a;
}


.section__appartaments__title {
  display: flex;
  padding-top: 95px;
  align-items: center;
}
.section__appartaments__title h2 {
  font-weight: normal;
  font-size: 58px;
  color: #272942;
  padding-right: 15px;
}

.min_slider .slick-track {
  display: flex;
}

.min_slider:hover .slick-dots {
  opacity: 1;
}

.min_slider {
    position: relative;
    width: 355px;
    height: 260px;
}

.min_slider .slick-arrow.slick-next {
    background-image: url(../img/arrowe_right.svg);
    right: 15px;
    cursor: pointer;
}

.min_slider .slick-arrow.slick-prev {
    background-image: url(../img/arrowe_left.svg);
    cursor: pointer;
    left: 15px;
}

.min_slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  position: relative;
  opacity: 0;
}
.min_slider .slick-dots li {
  list-style: none;
  margin: 0 9px;
  cursor: pointer;
}
/* Активная точка */
.min_slider .slick-dots li.slick-active button {
  background: #fb5314;
}
/* Элемент точки */
.min_slider .slick-dots li button {
  font-size: 0;
  border: none;
  width: 54px;
  height: 4px;
  outline: 0;
  background: #928EAF;
  border-radius: 1px;
  cursor: pointer;
}
.min_slider:hover .slick-arrow {
  opacity: 1;
}

.min_slider .slick-arrow {
    position: absolute;
    top: 44%;
    z-index: 10;
    font-size: 0;
    width: 19px;
    height: 19px;
    background: transparent;
    outline: 0;
    border: none;
    opacity: 0;
}

.min_slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    width: 355px;
    height: 260px;
    border-radius: 10px 10px 0 0;
}

.new_build {
  color: #fff;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.06em;
    background: #0000005c;
    font-weight: bold;
    font-size: 8px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7px 10px;
    margin: 12px 0 0 19px;
}

.text_min__slider {
  background: #fff;
  padding: 20px 0px 20px 20px;
  border-radius: 0 0 10px 10px;
}

.slider_item__content {
  width: 355px;
  box-shadow: 0px 0px 10px 2px rgb(26 31 82 / 12%);
  border-radius: 8px;
  margin: 0 auto;
}

.number {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #818396;
  transition: 0.2s linear;
}
.number:hover {
  color: #fb5314;
}
.text_min__slider h5{
  font-weight: normal;
  font-size: 18px;
  color: #36373C;
  padding-top: 14px;
  transition: 0.2s linear;
}

.text_min__slider h5:hover {
  color: #fb5314;
}

.text_min__slider h6 {
  font-weight: normal;
  font-size: 18px;
  color: #818396;
  padding-top: 11px;
  transition: 0.2s linear;
}

.text_min__slider h6:hover {
  color: #fb5314;
}

.text_min__slider h4 {
  font-weight: bold;
  font-size: 24px;
  color: #fb5314;
  padding-top: 13px;
}

.icon_min__slider {
  display: flex;
  padding-top: 15px;
}
.icon_min__slider__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.icon_min__slider__item p {
  font-weight: normal;
  font-size: 14px;
  color: #818396;
  padding-left: 5px;
  padding-top: 3px;
}

.button_show button {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.035em;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  color: #fff;
  border: none;
  background: linear-gradient(90.84deg, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
  box-shadow: 0px 15px 15px rgba(236, 95, 13, 0.07);
  border-radius: 43px;
  padding: 18px 0;
  width: 287px;
  margin-top: 75px;
}

.button_show {
  padding-bottom: 100px;
}

.offers {
  background: #d7ddec4a;
}

.offers_content{
  display: flex;
  width: 1240px;
  margin: 0 auto;
}
.offers_left {
  background: #252838;
  width: 565px;
  height: 440px;
}

.offers_photo img {
  width: 675px;
}

.offers_left__item {
  width: 335px;
  margin: 0 auto;
}

.offers_left h3 {
  font-weight: normal;
  font-size: 58px;
  color: #fff;
  padding-top: 115px;
}


.offers_left p {
  font-weight: normal;
  font-size: 18px;
  color: #C2CAE3;
  padding-top: 10px;
}

.offers_left a {
  font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border: none;
    background: linear-gradient(90.84deg, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    padding: 18px 0;
    width: 335px;
    margin-top: 28px
}
.offers_right__slider {
  width: 675px;
  height: 485px;
  position: relative;
  z-index: 1;
}

.offers_right__slider .slick-track {
  display: flex;
}

.offers_right__slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    width: 675px;
    height: 485px;
}

.offer_text {
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 650px;
  position: relative;
  z-index: 1;
  padding: 30px 45px;
  margin: 0 auto;
  margin-top: -110px;
}

.offer_text__content__item p {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: bold;
  color: #818396;
  font-size: 10px;
}

.offer_text__content__item h4 {
  font-weight: normal;
  font-size: 24px;
  color: #36373C;
  padding-top: 14px;
}

.offer_text__content__item h5 {
  font-weight: normal;
  font-size: 18px;
  color: #818396;
  padding-top: 7px;
}

.offer_text__content__item h6 {
  font-weight: bold;
  font-size: 24px;
  color: #fb5314;
  padding-top: 12px;
}

.offers_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_more {
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #fb5314;
  border-bottom: 1px solid #fb5314;
  height: 18px;
  margin-top: 15px;
}

.offer_text__slider {
  width: 560px;
  height: 187px;
  position: relative;
}

.offer_text__slider .slick-track {
  display: flex;
}

.offer_text__slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    width: 560px;
    height: 187px;
}

.offer_text__slider .slick-arrow.slick-next {
    background: url(../img/arrowe_right.svg) no-repeat center / cover;
    right: 0px;
    cursor: pointer;
}

.offer_text__slider .slick-arrow.slick-prev {
    background: url(../img/arrowe_left.svg) no-repeat center / cover;
    cursor: pointer;
    right: 50px;
}

.offer_text__slider .slick-arrow {
    position: absolute;
    top: 2%;
    z-index: 1000;
    font-size: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: 0;
    border: none;
}

.diving-product_left h2 {
  width: 584px;
  font-weight: normal;
  font-size: 58px;
  color: #272942;
  padding-top: 15px;
}

.diving-product_left__item {
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(26, 31, 82, 0.05);
  border-radius: 8px;
  width: 800px;
    position: relative;
  z-index: 3;
  padding: 20px 60px 40px 60px;
  margin-top: 30px;
}

.diving-product_left__item p {
  font-weight: normal;
  font-size: 16px;
  color: #38393F;
  padding-top: 10px;
}

.video_preview {
  background: url(../img/video_fon.svg) no-repeat center / cover;
  width: 100%;
  height: 363px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.play {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play img {
  margin-right: -12px;
}

.diving-product_right {
  margin-left: -160px;
}

.diving-product {
  display: flex;
}

.services_item__settings {
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-right: none;
  box-sizing: border-box;
  border-radius: 5px 30px 30px 5px;
  width: 1067px;
  display: flex;
}

.services_item {
  background: #FFFFFF;
  width: 100%;
  padding: 65px 35px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 42px;
}

.select_settings {
  padding: 9px 0px 9px 9px
}
.input1_settings {
  padding: 9px 0px 9px 9px
}
.input2_settings {
  padding: 9px 0px 9px 9px
}

.select_settings select {
    font-weight: normal;
    font-size: 16px;
    color: #3E4046;
    border: none;
    background: #fff;
    border-right: 1px solid #C4C4C4;
    padding: 10px;
    font-family: 'Gotham';
    width: 260px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select_settings:after {
    content: "▼";
    font-size: 11px;
    width: 0;
    position: absolute;
    z-index: 1;
    color: #C4C4C4;
    margin-top: 14px;
    margin-left: -28px;
    text-align: center;
    box-sizing: border-box;
}

.input1_settings input {
  font-weight: normal;
    font-size: 16px;
    color: #3E4046;
    border: none;
    background: #fff;
    border-right: 1px solid #C4C4C4;
    padding: 10px;
    font-family: 'Gotham';
    width: 235px;
}
.input2_settings input {
  font-weight: normal;
    font-size: 16px;
    color: #3E4046;
    border: none;
    background: #fff;
    padding: 10px;
    font-family: 'Gotham';
    width: 235px;
}

.btn_settings {
      text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    padding: 18px 0px;
    width: 287px;
    background: linear-gradient(
90.84deg
, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    margin-left: 22px;
    border: none;
}

.services_link {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 10px;
  width: 270px;
}

.services_link__item {
  box-shadow: 2px 2px 8px rgb(26 31 82 / 19%);
  border-radius: 8px;
  width: 270px;
  height: 90px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.services_link__item__left {
  background: #fff;
  border-radius: 8px 0px 0px 8px;
}

.services_link__item__left p {
  font-weight: normal;
  font-size: 18px;
  color: #36373C;
  padding: 27px 30px;
}

.services_link__item__right {
  background: linear-gradient(90.84deg, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 8px 8px 0px;
  width: 23px;
}

.services_link__slider {
  width: 100%;
  height: 260px;
  position: relative;
}

.services_link__slider .slick-track {
  display: flex;
}

.services_link__slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 260px;
}

.services_link__slider .slick-arrow.slick-next {
    background: url(../img/arrowe_right.svg) no-repeat center / cover;
    right: 45%;
    cursor: pointer;
}

.services_link__slider .slick-arrow.slick-prev {
    background: url(../img/arrowe_left.svg) no-repeat center / cover;
    cursor: pointer;
    left: 45%;
}

.services_link__slider .slick-arrow {
    position: absolute;
    top: 110%;
    z-index: 1000;
    font-size: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: 0;
    border: none;
}

.btn_all__slider {
  font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    color: #fff;
    border: none;
    background: linear-gradient(
90.84deg
, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    padding: 18px 0;
    width: 287px;
    margin-top: 115px;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog_content {
  margin-top: 50px;
  width: 367px;
  box-shadow: 0px 8px 30px rgba(26, 31, 82, 0.05);
  border-radius: 8px;
}
.blog_content__item {
  background: #FFFFFF;
  margin-top: -3px;
  padding: 36px 23px;
}

.blog_content__item p {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #818396;
  font-size: 10px;
  font-weight: bold;
}

.blog_content__item h6 {
  color: #36373C;
  font-size: 18px;
  font-weight: normal;
  padding-top: 14px;
}

.btn_blog button {
  font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    color: #fff;
    border: none;
    background: linear-gradient(
90.84deg
, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    padding: 18px 0;
    width: 287px;
    margin-top: 50px;
}

.btn_blog {
  padding-bottom: 115px;
}

.section_banner {
  background: url(../img/banner-bg.png) no-repeat center / cover;
  padding-top: 100px;
  padding-bottom: 105px;
}

.section_banner__content {
  padding-left: 60px;
}

.section_banner__content h2 {
  font-weight: normal;
  font-size: 58px;
  color: #272942;
}

.section_banner__content img {
  width: 287px;
  margin-top: 25px;
}

.section_banner__content a {
  font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border: none;
    background: linear-gradient(
90.84deg
, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    padding: 18px 0;
    width: 283px;
    margin-top: 30px;
}

.data {
  background: #353848;
  padding-top: 85px;
  padding-bottom: 70px;
}

.data_title h2 {
  font-weight: normal;
  font-size: 58px;
  color: #fff;
}

.data_content__item__top {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.data_content__item__top input {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding: 11px;
  border: none;
  display: block;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 367px;
  transition: 0.2s linear;
}

.data_content__item__top input:hover {
  border-bottom: 1px solid #fb5314;
}
.data_content__item__bottom input:hover {
  border-bottom: 1px solid #fb5314;
}

.data_content__item__bottom input {
  font-weight: normal;
  transition: 0.2s linear;
  font-size: 18px;
  color: #fff;
  padding: 11px;
  border: none;
  display: block;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 80px;
}

input {
  font-family: 'Gotham';
}
.data_content__item__top input::-webkit-input-placeholder {
  color: #fff;
} 
.data_content__item__top input::-moz-placeholder {
  color: #fff;
}

.data_content__item__bottom input::-webkit-input-placeholder {
  color: #fff;
} 
.data_content__item__bottom input::-moz-placeholder {
  color: #fff;
}

.data_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.data_button__item button {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border: none;
    background: linear-gradient(
90.84deg
, #E95D0F 2.11%, #FF6B00 47.76%, #EB650E 92.69%);
    box-shadow: 0px 15px 15px rgb(236 95 13 / 7%);
    border-radius: 43px;
    padding: 18px 0;
    width: 287px;
}

.data_button__item p {
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding-top: 15px;
}

.section_information {
  background: #252838;
  padding-top: 40px;
  padding-bottom: 40px;
}

.information_content__one {
  display: flex;
  justify-content: space-between;
}

.information_content__one__left a {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.information_content__one__left a p {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.information_content__one__left a img {
  margin-right: 16px;
  transform: 0.2s linear;
}

.information_content__one__left a img:hover {
  transform: scale(1.2);
}

.information_content__one__right {
  padding-top: 20px;
}
.information_content__one__right__text {
  display: flex;
}

.information_content__one__right__text span {
  display: block;
  color: #B4B0CC;
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
}

.information_content__one__right__text p {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}

.information_content__two {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.information_content__two__left a img {
  width: 193px;
}

.information_content__two__left p {
  font-weight: normal;
  font-size: 16px;
  color: #B4B0CC;
}

.entitlement_text {
  padding-top: 10px;
}

.entitlement_text__item {
  padding-top: 20px;
}

.information_content__two__right {
  display: flex;
  justify-content: space-between;
  width: 688px;
}

.information_content__two__right__item h5 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.information_content__two__right__item p {
  font-weight: normal;
  font-size: 16px;
  color: #B4B0CC;
}

.information_content__two__right__item2 h5 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 34px;
}
.information_content__two__right__item2 h4 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding-top: 34px;
}
.information_content__two__right__item2 h6 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding-bottom: 15px;
}

.information_content__two__right__item2 p {
  font-weight: normal;
  font-size: 16px;
  color: #B4B0CC;
}

.footer {
  background: #1A1C23;
  padding-top: 37px;
  padding-bottom: 45px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_hover {
  transition: 0.2s linear;
}

.icon_hover:hover {
  transform: scale(1.2);
}

.btn_hover {
  transition: 0.2s linear;
  border: 1px solid transparent !important;
  cursor: pointer;
}

.btn_hover:hover {
  color: #fb5314;
  background: #fff;
  border: 1px solid #fb5314 !important;
}

.slick-arrow.slick-disabled {
    opacity: 0.4;
}